<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Đặt phòng
			<button type="button" class="btn btn-xs btn-primary" (click)="selectBooking(null)" data-toggle="modal" data-target="#bookingmodal">
                <i class="fa fa-plus"></i> Thêm mới
            </button>
		</h1>
	</div>
</div>

<p-schedule [events]="events" [header]="headerConfig" [eventLimit]="4" [editable]="true"></p-schedule>

<!-- Modal -->
<div class="modal fade" id="bookingmodal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<p-steps [model]="stepsBooking" [(activeIndex)]="stepActiveIndex" styleClass="steps-basic"></p-steps>
			<form #bookingForm="ngForm" novalidate>
				<div class="modal-body">
					<div class="row" [hidden]="stepActiveIndex != 0">
						<div class="col-md-12">
							<div class="form-group">
								<label>Khách hàng</label>
								<p-autoComplete [(ngModel)]="customerSelected" 
									[suggestions]="filteredCustomer"
									[minLength]="1"
									[disabled]="isAddnewCustomer"
									[size]="30"
									(completeMethod)="filterCustomer($event)"
									(onDropdownClick)="showDropDownFilter()"
									(onSelect)="selectedCustomer()"
									field="name" 
									placeholder="Tên hoặc số điện thoại"
									[ngModelOptions]="{standalone: true}">
									<template let-cus>
										<strong>{{cus.name}}</strong> {{cus.phoneNumber}}
									</template>
								</p-autoComplete>
								<button pButton type="text" (click)="addNewCustomer()" icon="fa-user" label="Thêm mới"></button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Tên khách hàng</label>
								<input [disabled]="!isAddnewCustomer" disabled class="form-control" name="name" required [(ngModel)]="vm.booking.customer.name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Chứng minh nhân dân</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="idNumber" [(ngModel)]="vm.booking.customer.idNumber">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Địa chỉ</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="address" [(ngModel)]="vm.booking.customer.address">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Số điện thoại</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="phoneNumber" [(ngModel)]="vm.booking.customer.phoneNumber">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Email</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="email" [(ngModel)]="vm.booking.customer.email">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Người đại diện</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="representative" [(ngModel)]="vm.booking.customer.representative">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Mã số thuế</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="taxId" [(ngModel)]="vm.booking.customer.taxId">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Số tài khoản ngân hàng</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="bankAccount" [(ngModel)]="vm.booking.customer.bankAccount">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Tên ngân hàng</label>
								<input [disabled]="!isAddnewCustomer" class="form-control" name="bankName" [(ngModel)]="vm.booking.customer.bankName">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Ghi chú</label>
								<textarea [disabled]="!isAddnewCustomer" rows="1" class="form-control" name="description" [(ngModel)]="vm.booking.customer.description"></textarea>
							</div>
						</div>
					</div>

					<div class="row" [hidden]="stepActiveIndex == 0 || stepActiveIndex == 3">
						<div class="col-md-6">
							<div class="form-group">
								<label>Từ ngày</label>
								<p-calendar [disabled]="stepActiveIndex==2" [locale]="vi" [(ngModel)]="vm.booking.fromDate" required dateFormat="dd/mm/yy"
									name="fromDate" [minDate]="minBookingDate" [showIcon]="true" [showTime]="true"></p-calendar>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Đến ngày</label>
								<p-calendar [disabled]="stepActiveIndex==2" [locale]="vi" [(ngModel)]="vm.booking.toDate" required dateFormat="dd/mm/yy"
									name="toDate" [minDate]="vm.booking.fromDate" [showIcon]="true" [showTime]="true"></p-calendar>
							</div>
						</div>
						<div class="col-md-12" [hidden]="stepActiveIndex != 2">
							<div class="bs-docs-panel" panel-header="Các loại phòng">
								<div class="row">
									<div *ngFor="let roomtype of lstRoomtype" class="col-md-3">
										<span class="btn btn-sq-xs btn-default" [ngStyle]="{'background-color': roomtype.color, 'border-color': roomtype.color}"></span><strong> {{roomtype.name}}</strong>
									</div>
								</div>
							</div>
							<div class="bs-docs-panel" panel-header="Phòng được chọn">
								<div class="row">
									<div class="col-md-12">
										<div *ngFor="let obj of vm.booking.rooms" (click)="removedRoom(obj._id)" class="btn btn-sq-sm btn-info" [ngStyle]="getSelectedRoomStyle(obj.name)">
											<strong>{{obj.name}}</strong>
										</div>
										<span *ngIf="vm.booking.rooms.length == 0">Chưa có phòng nào được chọn.</span>
									</div>
								</div>
							</div>
							<div *ngFor="let floor of lstFloor" class="bs-docs-panel" attr.panel-header="Lầu {{floor}}">
								<div class="row">
									<div class="col-md-12">
										<div *ngFor="let obj of roomOfFloor(floor)" (click)="selectedRoom(obj._id, obj.name)" class="btn btn-sq-sm btn-info" [ngStyle]="getStyle(obj.roomtype, obj.active)">
											<strong>{{obj.name}}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" *ngIf="stepActiveIndex != 0" (click)="prev()"><i class='fa fa-chevron-left'></i> Quay lại</button>
					<button [disabled]="disableNextButton()" type="button" class="btn btn-success" *ngIf="stepActiveIndex != 3" (click)="next()">Tiếp tục <i class='fa fa-chevron-right'></i></button>
					<button type="button" class="btn btn-primary" *ngIf="stepActiveIndex == 3" [disabled]="!bookingForm.form.valid" (click)="save()"><i class='fa fa-save'></i> Đặt phòng</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-sign-out"></i> Đóng</button>
				</div>
			</form>
		</div>
	</div>
</div>